@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Italic.eot");
  src: url("../fonts/Roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?pbp8u2");
  src: url("../fonts/icomoon/icomoon.eot?pbp8u2#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?pbp8u2") format("truetype"), url("../fonts/icomoon/icomoon.woff?pbp8u2") format("woff"), url("../fonts/icomoon/icomoon.svg?pbp8u2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

.icon-phone-book:before {
  content: "\e91e"; }

.icon-call-answer:before {
  content: "\e900"; }

.icon-car2:before {
  content: "\e901"; }

.icon-caution-sign:before {
  content: "\e902"; }

.icon-checked2:before {
  content: "\e903"; }

.icon-check-mark:before {
  content: "\e904"; }

.icon-clock:before {
  content: "\e905"; }

.icon-clock-circular-outline:before {
  content: "\e906"; }

.icon-cross:before {
  content: "\e907"; }

.icon-edit:before {
  content: "\e908"; }

.icon-envelope:before {
  content: "\e909"; }

.icon-file:before {
  content: "\e90a"; }

.icon-funnel:before {
  content: "\e90b"; }

.icon-hourglass:before {
  content: "\e90c"; }

.icon-maps-and-flags1:before {
  content: "\e90d"; }

.icon-next:before {
  content: "\e90e"; }

.icon-next2:before {
  content: "\e90f"; }

.icon-off:before {
  content: "\e910"; }

.icon-on:before {
  content: "\e911"; }

.icon-paper-plane:before {
  content: "\e912"; }

.icon-pizza:before {
  content: "\e913"; }

.icon-pizza2:before {
  content: "\e914"; }

.icon-pizza3:before {
  content: "\e915"; }

.icon-placeholder:before {
  content: "\e916"; }

.icon-save-file-option:before {
  content: "\e917"; }

.icon-school-calendar:before {
  content: "\e918"; }

.icon-seach:before {
  content: "\e919"; }

.icon-telephone:before {
  content: "\e91a"; }

.icon-user2:before {
  content: "\e91b"; }

.icon-wallet:before {
  content: "\e91c"; }

.icon-warning:before {
  content: "\e91d"; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #000; }

h1 {
  font-size: 16px;
  font-weight: 300; }

h2 {
  font-size: 30px;
  color: #131631;
  font-weight: bold; }

h3 {
  font-size: 20px;
  font-weight: bold; }

h4 {
  font-size: 20px;
  font-weight: 300;
  color: #5a5a5a; }

h5 {
  font-size: 18px;
  color: #000; }

h6 {
  font-size: 16px;
  font-weight: bold; }

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    color: inherit;
    outline: none; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 16px; }

.text-center {
  text-align: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header {
  background: #e6b345;
  max-width: 320px;
  margin: 0 auto; }

.container {
  width: 280px;
  margin: 0 auto; }

.justify-align {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .header-top h1 {
    color: #fff; }

.header-nav {
  position: relative;
  height: 43px;
  padding: 0 20px;
  background: #f1c76d; }

.header-btn {
  list-style: none; }
  .header-btn > li {
    display: inline-block;
    margin: 0 0 0 20px; }
    .header-btn > li > a {
      position: relative;
      display: block;
      font-size: 16px;
      color: #fff; }

.header-filter,
.header-story {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -45px;
  padding: 0 20px;
  min-height: 45px;
  background: #fff;
  z-index: 100; }
  .header-filter.active,
  .header-story.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.icon-number {
  position: absolute;
  right: -7px;
  top: -3px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 8px; }

.bg-red {
  background: #d74155; }

.bg-green {
  background: #9ccb6f; }

.main-menu__wrapper {
  position: absolute;
  left: 0;
  top: 43px;
  width: 220px;
  background: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  z-index: -1; }
  .main-menu__wrapper.active {
    opacity: 1;
    z-index: 110; }

.courier {
  padding: 20px 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #E6E6E6; }

.courier-ic {
  width: 43px;
  height: 43px;
  line-height: 43px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #cccccc;
  text-align: center; }
  .courier-ic .icon-user2 {
    vertical-align: middle;
    font-size: 24px;
    color: #fff; }

.courier-info {
  padding: 0 0 0 15px; }

.courier-info__name {
  font-size: 13px;
  font-weight: 500; }

.courier-info__status {
  position: relative;
  margin: 3px 0 0;
  padding: 0 0 0 10px;
  font-size: 13px;
  color: #B7B7B7; }
  .courier-info__status::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 7px;
    height: 7px;
    line-height: 7px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #9ccb6f; }
  .courier-info__status.offline::before {
    background: #d74155; }

.main-menu {
  list-style: none; }
  .main-menu li {
    position: relative;
    min-height: 48px;
    line-height: 48px;
    padding: 0 20px;
    color: #000;
    border-bottom: 1px solid #E6E6E6; }
    .main-menu li.active, .main-menu li:hover {
      background: #f1c76d;
      color: #fff; }
      .main-menu li.active a, .main-menu li:hover a {
        color: #fff; }
    .main-menu li.icon::before {
      position: absolute;
      left: 20px;
      top: 0;
      color: inherit;
      font-size: 15px; }
    .main-menu li a {
      position: relative;
      padding: 0 0 0 30px;
      display: block;
      font-size: 13px;
      color: #000;
      font-family: "Roboto"; }

.btn {
  display: inline-block;
  padding: 0 15px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #ccc;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid transparent; }

.btn-grey__transparent {
  background-color: transparent;
  color: #ccc;
  border-color: #ccc; }

.btn-green {
  background: #9ccb6f; }
  .btn-green:hover {
    color: #fff; }

.btn-green__transparent {
  background-color: transparent;
  color: #9ccb6f;
  border-color: #9ccb6f; }

.btn-red {
  background: #d74155; }
  .btn-red:hover {
    color: #fff; }

.btn-yellow {
  background: #f1c76d; }
  .btn-yellow:hover {
    color: #fff; }

.btn-close {
  position: relative;
  top: 2px;
  font-size: 14px; }
  .btn-close i::before {
    color: #ccc; }

*::-webkit-input-placeholder {
  color: #B7B7B7;
  font-size: 13px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-moz-placeholder {
  color: #B7B7B7;
  font-size: 13px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*::-moz-placeholder {
  color: #B7B7B7;
  font-size: 13px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-ms-input-placeholder {
  color: #B7B7B7;
  font-size: 13px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

textarea:focus::-moz-placeholder {
  text-indent: 0; }

textarea:focus:-moz-placeholder {
  text-indent: 0; }

textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

.main {
  min-height: 200px;
  max-width: 320px;
  margin: 0 auto; }

.my-orders .my-orders__status {
  width: 100px; }
  .my-orders .my-orders__status .btn {
    padding: 0 13px; }

.my-orders__item {
  padding: 20px 20px; }
  .my-orders__item:nth-child(even) {
    background: #f5f8fb; }

.my-orders__info {
  width: 220px; }

.my-orders__number {
  margin-bottom: 5px; }

.my-orders__code {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 9px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: #ccc;
  border: 1px solid #ccc; }

.my-orders__tel {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 500;
  color: #000; }

.my-orders__place {
  position: relative;
  width: 200px;
  padding: 0 0 0 50px; }
  .my-orders__place .icon-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .my-orders__place .icon-placeholder::before {
      position: absolute;
      left: 5px;
      top: 4px;
      font-size: 20px;
      color: #ccc; }

.my-orders__address {
  display: block;
  font-size: 13px;
  color: #000; }

.my-orders__time {
  display: block;
  font-size: 13px;
  color: #ccc; }

.order-acceptance .my-orders__number {
  display: inline-block;
  vertical-align: middle; }

.order-acceptance .my-orders__place {
  padding: 0 0 0 5px;
  width: auto;
  display: inline-block;
  vertical-align: middle; }

.order-acceptance .my-orders__status {
  width: 67px; }

.order-acceptance .icon-placeholder {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  border: 1px solid #ccc;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 20px;
  color: #ccc; }

.status-plus {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d74155; }

.status-check {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #9ccb6f; }
  .status-check .icon-checked2 {
    height: 30px;
    line-height: 30px; }
    .status-check .icon-checked2::before {
      color: #fff;
      font-size: 16px; }

.login-img {
  margin-bottom: 50px; }

.login-title {
  margin-bottom: 45px;
  text-align: center; }
  .login-title span {
    display: inline-block;
    padding: 0 0 3px;
    font-size: 19px;
    font-weight: 300;
    color: #A8A8A8;
    border-bottom: 2px solid #FEC766;
    text-align: center; }

.form .btn-red {
  margin-top: 15px;
  width: 100%;
  height: 33px;
  line-height: 33px;
  font-weight: bold; }

.form .text-input {
  width: 100%;
  height: 33px;
  padding: 0 0 0 15px;
  margin-bottom: 10px;
  line-height: 33px;
  border: 1px solid #ECECEC;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  outline: none; }

.form textarea.text-input {
  height: 80px;
  resize: none;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    cursor: pointer;
    font-size: 11px;
    color: #A8A8A8;
    line-height: normal; }
    input[type="checkbox"] + label::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 11px;
      height: 11px;
      border: 1px solid #ECECEC;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
  input[type="checkbox"]:checked + label::after {
    content: '\e903';
    position: absolute;
    font-family: 'icomoon';
    left: 2px;
    top: 1px;
    font-size: 11px;
    color: #000; }

.login-form {
  max-width: 205px;
  margin: 0 auto; }

.forgot-password {
  display: inline-block;
  margin-top: 15px;
  font-size: 11px;
  color: #A8A8A8;
  font-weight: 300;
  text-decoration: underline; }

.header-top__back {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 16px;
  font-weight: 300;
  color: #fff; }
  .header-top__back:hover {
    color: #fff; }
  .header-top__back::before {
    content: '\e90e';
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 14px;
    color: #fff;
    font-family: "icomoon";
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

.order-info .btn-green__transparent {
  display: block;
  margin: 20px auto;
  width: 174px;
  height: 33px;
  line-height: 33px; }

.order-info__header {
  height: 64px;
  padding: 0 20px;
  background: #fff; }
  .order-info__header > div {
    width: 200px; }
  .order-info__header .my-orders__code {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color: #404040; }
  .order-info__header .icon-placeholder {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 20px;
    color: #ccc; }
  .order-info__header span.btn {
    min-width: 104px;
    height: 30px;
    line-height: 30px; }
  .order-info__header .btn-close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #D3D3D3;
    text-align: center;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .order-info__header .btn-close .icon-cross {
      display: inline-block;
      vertical-align: middle; }

.order-info__list {
  list-style: none; }
  .order-info__list li {
    padding: 15px 20px;
    font-size: 13px; }
    .order-info__list li strong {
      display: block;
      margin-bottom: 4px;
      font-weight: 500; }
    .order-info__list li span {
      color: #B0B3B5; }

.bg-light__blue {
  background: #f5f8fb; }

.order-table {
  padding: 0 20px;
  width: 100%;
  border-collapse: collapse; }
  .order-table tr {
    border-bottom: 1px solid #E6E6E6; }
    .order-table tr td {
      padding: 15px 5px;
      font-size: 13px;
      color: #B7B7B7;
      vertical-align: middle; }
      .order-table tr td:first-child {
        padding-left: 20px; }
      .order-table tr td:last-child {
        padding-right: 20px; }
      .order-table tr td:nth-child(2) {
        max-width: 135px;
        color: #404040; }
    .order-table tr:first-child td {
      background: #f5f8fb;
      font-weight: 500;
      color: #404040; }

.order-completion__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  margin-bottom: 30px;
  background: #f5f8fb;
  text-align: center; }
  .order-completion__header span {
    font-size: 13px;
    color: #3E3E3F;
    font-weight: 500; }

.order-completion__form {
  max-width: 200px;
  margin: 0 auto; }
  .order-completion__form label {
    display: block;
    margin: 0 0 10px;
    font-weight: 500;
    color: #3E3E3F; }
  .order-completion__form select {
    width: 100%;
    margin-bottom: 10px; }
  .order-completion__form textarea.text-input {
    margin-bottom: 20px; }
  .order-completion__form .btn {
    display: block;
    margin: 0 auto 20px;
    width: 130px;
    height: 33px;
    line-height: 33px; }

.jq-selectbox {
  display: block; }

.jq-selectbox__select {
  position: relative;
  width: 100%;
  height: 33px;
  padding: 0 0 0 15px;
  line-height: 33px;
  border: 1px solid #ECECEC;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  outline: none; }
  .jq-selectbox__select::before {
    content: '\e90e';
    font-family: "icomoon";
    font-size: 14px;
    color: #ABABAB;
    position: absolute;
    right: 30px;
    top: 1px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.jq-selectbox__dropdown {
  border: 1px solid #ccc;
  width: 100%;
  padding: 0 20px;
  z-index: 110;
  background: #f5f8fb;
  -webkit-border-radius: 20px;
          border-radius: 20px; }
  .jq-selectbox__dropdown li {
    min-height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc; }
    .jq-selectbox__dropdown li:last-child {
      border: none; }

.select-green .jq-selectbox__select {
  border-color: #9ccb6f; }

.select-item {
  margin-bottom: 20px; }

.jq-selectbox__select-text {
  color: #C2C2C2; }

.order-completion__window {
  text-align: center; }
  .order-completion__window .btn {
    width: 160px;
    height: 33px;
    line-height: 33px; }

.order-completion__icon {
  padding: 75px 0 0; }
  .order-completion__icon .icon-car2 {
    display: inline-block;
    width: 82px;
    height: 82px;
    line-height: 82px;
    background: #9ccb6f;
    text-align: center;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .order-completion__icon .icon-car2::before {
      font-size: 52px;
      color: #fff; }

.order-completion__title {
  margin: 25px 0;
  font-size: 18px;
  font-weight: 500;
  color: #404040; }

.return-office {
  display: block;
  margin: 5px 0 0;
  color: #B7B7B7;
  font-weight: 300; }

.profile-editing .btn {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 33px;
  line-height: 33px; }

.profile-editing__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  margin-bottom: 20px;
  background: #f5f8fb;
  text-align: center; }
  .profile-editing__title span {
    font-size: 13px;
    color: #3E3E3F;
    font-weight: 500; }

.profile-editing__form {
  max-width: 225px;
  margin: 0 auto; }

.profile-editing__item {
  margin-bottom: 20px; }
  .profile-editing__item label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    color: #3E3E3F;
    font-weight: 500; }

.input-wrapper {
  position: relative; }
  .input-wrapper .text-input {
    margin: 0; }
  .input-wrapper label {
    display: inline-block;
    padding: 0 0 0 15px;
    font-size: 10px;
    font-weight: 300;
    color: #B7B7B7; }

.input-wrapper__check .text-input {
  border-color: #9ccb6f; }

.input-wrapper__check::before {
  content: '\e903';
  position: absolute;
  right: 15px;
  top: 7px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 12px;
  color: #9ccb6f;
  border: 1px solid #9ccb6f;
  font-family: "icomoon";
  z-index: 10; }

.input-wrapper__error + label {
  color: #d74155; }

.input-wrapper__error .text-input {
  border-color: #d74155; }

.input-wrapper__error .clear {
  position: absolute;
  right: 15px;
  top: 7px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10; }
  .input-wrapper__error .clear .icon-cross {
    content: '\e907';
    display: block;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 10px;
    color: #d74155;
    border: 1px solid #d74155;
    font-family: "icomoon";
    z-index: 10; }

.header-story__select {
  width: 70px; }
  .header-story__select .jq-selectbox__select {
    height: 26px;
    padding: 0 0 0 10px;
    line-height: 26px;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
    .header-story__select .jq-selectbox__select::before {
      content: '\e90f';
      right: 10px;
      top: 0;
      font-size: 20px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

.select-month {
  width: 80px; }

.select-year {
  width: 70px; }

.story-wrapper .my-orders__info {
  width: 190px; }

.story-wrapper .my-orders__number {
  display: inline-block;
  vertical-align: middle; }

.story-wrapper .my-orders__place {
  width: 114px;
  padding: 0 0 0 5px;
  display: inline-block;
  vertical-align: middle; }

.story-wrapper .my-orders__status {
  width: 87px; }
  .story-wrapper .my-orders__status .btn {
    width: 100%;
    padding: 0 5px; }

.statistics-period {
  padding: 0 50px;
  height: 60px;
  border-bottom: 1px solid #E6E6E6; }
  .statistics-period .btn {
    width: 94px; }

.statistics-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 50px; }
  .statistics-item:nth-child(even) {
    background: #f5f8fb; }

.statistics-item__icon {
  width: 43px;
  height: 43px;
  line-height: 43px;
  background: #f1c76d;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center; }
  .statistics-item__icon i {
    display: inline-block;
    vertical-align: middle; }
    .statistics-item__icon i::before {
      font-size: 20px;
      color: #fff; }
    .statistics-item__icon i.icon-car2::before {
      font-size: 25px; }
  .statistics-item__icon.bg-green {
    background: #9ccb6f; }

.statistics-item__info {
  width: 180px;
  padding: 0 0 0 20px; }
  .statistics-item__info strong {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    color: #404040;
    font-weight: 500; }
  .statistics-item__info span {
    font-size: 12px;
    color: #B7B7B7; }
